*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.head{
    height: 100%;
    width: 100%;
    background-color: rgba(197, 72, 13, 0.4);
    position: absolute;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background:#fff;
    padding: 5px;
    border: 1px;
}
.heading{
    font-size: 20px;
    margin: 8px 45px;
    padding: 10px 0;
    color: rgb(196, 66, 44);
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
}

.input{
    top:80px;
    position: absolute;
    width: 300px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 20px 20;
    margin: 30px 20px 10px 50px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 30px 70px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
